<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultas API - Desafio TON</title>
</head>

<body>
    <div align="center">
        <h1>API - Desafio TON</h1>
        <div>
            <menu>
                <menuitem><a href="{{url_for('routes.user_register')}}">Cadastrar Usuário</a></menuitem>
                <menuitem><a href="{{url_for('routes.list_users')}}">Visualizar Usuários</a></menuitem>
                <menuitem><a href="{{url_for('routes.account_register')}}">Cadastrar Conta</a></menuitem>
                <menuitem><a href="{{url_for('routes.access')}}">Número de acessos</a></menuitem>

            </menu>

        </div>

    </div>
    <div>
        {% block content %}
        {% endblock %}

    </div>

</body>

</html>